.landing {
  height: 100vh;
  width: 100%;
  display: grid;
  place-content: center;
  background-size: cover;
  background-image: url("https://i.pinimg.com/originals/79/e6/3f/79e63f4372b085bce16c7121210d39f9.jpg");
}
.button__landing {
  all: unset;
  background-color: #ab3853;
  padding: 9px 10px;
  text-transform: capitalize;
  color: #fff;
  font-weight: bold;
  border-radius: 5px;
}
.button__landing :any-link {
  color: #fff;
}
.modal {
  text-align: center;
  background: rgba(145, 194, 209, 0.9);
  border-radius: 5px;
  padding: 10px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
}
h1 {
  color: #fff;
  text-transform: capitalize;
  font-family: monospace;
}
